.scroll-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    // background: rgb(87, 87, 87);
    // background: radial-gradient(circle, rgba(87, 87, 87, 1) 1%, rgba(68, 68, 68, 1) 44%);
}

.scroll-container::-webkit-scrollbar {
    width: 1em;
}

.scroll-container::-webkit-scrollbar-thumb {
    background-color: #575757;
    border-radius: 5px;
}

.scroll-container::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 20px;
}

.link-grid {
    display: grid;
    width: 100%;
    grid-template-rows: min-content min-content;
    grid-template-columns: 1fr;
}

.education-grid {
    display: grid;
    width: 100%;
    grid-template-rows: min-content min-content min-content;
    grid-template-columns: 120px 1fr 120px;
}

.title-box {
    font-weight: bold;
    font-size: 18px;
    grid-area: 1 / 1 / span 2 / span 1;
}

.location-box {
    font-style: italic;
    font-size: 18px;
    white-space: nowrap;
    grid-area: 1 / 2 / span 1 / span 1;
}

.right-box {
    font-size: 18px;
}

.link-box {
    font-weight: bold;
    width: 100%;
    text-align: center;
    padding: 30px 0 15px 0;
}

.bottom-link-box {
    font-weight: bold;
    width: 100%;
    text-align: center;
    padding: 15px 0 30px 0;
}

.link-box span {
    padding: 0 6px;
    display: inline-block;
    font-size: 18px;
}

.bottom-link-box span {
    padding: 0 6px;
    display: inline-block;
    font-size: 18px;
}

a {
    color: #7DFFAF;
}

.divider {
    border-radius: 10px;
    height: 9px;
    background-color: #7DFFAF;
    -webkit-filter: drop-shadow(2px 2px 2px #222);
    filter: drop-shadow(2px 2px 2px #222);
}

.divider-container {
    width: 100%;
    padding: 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.resume-container {
    width: 100%;
}

.resume {
    margin: 0 auto;
    display: block;
    max-width: 1200px;
}

div,
span {
    color: white;
}