<div class="scroll-container">
    <div class="link-grid animated fadeInDown">
        <div class="link-box">
            <span><a href="https://www.linkedin.com/in/stonemitchell7000/"
                    target="_blank">linkedin.com/in/stonemitchell7000</a></span>
            <span>stone.mitchell.45&#64;gmail.com</span>
            <span><a target="_self" href="../../assets/ResumeStoneMitchell.pdf"
                    download="ResumeStoneMitchell.pdf">Download Resume(PDF)</a></span>
        </div>
        <div class="divider-container">
            <div class="divider"></div>
        </div>
    </div>
    <div class="resume-container animated fadeIn">
        <img class="resume" src="../../assets/resume.png">
    </div>
    <div class="link-grid animated fadeInUp">
        <div class="divider-container">
            <div class="divider"></div>
        </div>
        <div class="bottom-link-box">
            <span>Links:</span>
            <span><a href="http://bigdenali.com/" target="_blank">Big Denali Developments</a></span>
            <span><a target="_blank" href="https://github.com/StoneMitchell7000">GitHub</a></span>
        </div>
    </div>
</div>