<div class="scroll-container">
    <div class="link-grid animated fadeInUp">
        <div class="link-box">
            <span><a href="https://www.linkedin.com/in/stonemitchell7000/"
                    target="_blank">linkedin.com/in/stonemitchell7000</a></span>
            <span>stone.mitchell.45@gmail.com</span>
            <span><a target="_self" href="../../assets/ResumeStoneMitchell.pdf"
                    download="ResumeStoneMitchell.pdf">Download Resume(PDF)</a></span>
        </div>
        <div class="divider-container">
            <div class="divider"></div>
        </div>
    </div>
</div>