<div class="scroll-container">
    <!-- me -->
    <div class="about-box left animated fadeInUp">
        <div class="img-container">
            <img src="../../assets/headshot.jpg">
        </div>
        <div class="text-container">
            <div>
                Hi, I'm Stone. I'm a software engineer and recent graduate from Embry-Riddle Aeronautical University.
                Located in Tucson, Arizona, but looking to branch out and explore new locations for career
                opportunities.
                <br />
                <br />
                I took up web development early. Watching my dad develop his career in software inspired me to do the
                same.
            </div>
        </div>
    </div>
    <!-- snowboarding -->
    <div class="about-box right animated fadeInUp">
        <div class="text-container">
            <div>
                When I'm not busy, I really enjoy escaping the desert and hitting the snow. One of my favorite hobbies
                is
                snowboarding, usually up in Pinetop or Park City.
                <br />
                <br />
                Don't get me wrong, I love my home town, but the 100°F summers we get down here are not for the faint of
                heart.
            </div>
        </div>
        <div class="img-container">
            <img src="../../assets/sno.jpg">
        </div>
    </div>
    <!-- friends -->
    <div class="about-box left animated fadeInUp">
        <div class="img-container">
            <img src="../../assets/theboys.jpg">
        </div>
        <div class="text-container">
            <div>
                More than anything, I love hanging out with long-time friends. Whether its snowboarding, gaming, the
                gym, rock climbing, or the card game 'Magic the Gathering', I'm all for whatever brings the boys
                together.
                <br />
                <br />
                On the job, I'm always very serious about the task at hand, and getting the job done right. But when I'm
                with my boys, I'm easily the silliest one there.
            </div>
        </div>
    </div>
</div>