<div class="scroll-container">
    <!-- me , small backstory -->
    <div class="about-box left animated fadeInUp">
        <div class="img-container">
            <img src="../../assets/headshot.jpg">
        </div>
        <div class="text-container">
            <div>
                Hi, I'm Stone. I'm a software engineer, currently a student at Embry-Riddle Aeronautical University up
                in Prescott, AZ. Software runs in the family - since my dad is a software engineer, I decided to take it
                up as well.
                <br />
                <br />
                I grew up in Tucson, AZ, and haven't moved around very much since. Unless job opportunities or
                relationships pull me somewhere else, the Sonoran Desert is my home.
            </div>
        </div>
    </div>
    <!-- snowboarding (other hobbies) -->
    <div class="about-box right animated fadeInUp">
        <div class="text-container">
            <div>
                That's not to say that I don't like the snow. One of my favorite hobbies is snowboarding, usually up in
                Flagstaff or Greer.
                <br />
                <br />
                When I'm not completely slammed with work, I tend to enjoy hanging out with long-time friends the most.
                Whether its snowboarding, the gym, rock climbing, or the card game 'Magic the Gathering', I'm all for whatever
                brings the boys together.
            </div>
        </div>
        <div class="img-container">
            <img src="../../assets/sno.jpg">
        </div>
    </div>
    <!-- not sure -->
    <div class="about-box left animated fadeInUp">
        <div class="img-container">
            <img src="../../assets/lad.jpg">
        </div>
        <div class="text-container">
            <div>
                Certified gamer, and a smidgen goofy.
                <br />
                <br />
                Most days, when I have a little free time, I'm usually watching YouTube or playing videogames. Games
                have been
                one of my pastimes for a long time, and they probably aren't going anywhere soon.
                <br />
                <br />
                Goofing around keeps me going. Believe me, A job well-done always comes first, but dumb fun is never far
                behind.
            </div>
        </div>
    </div>
</div>