.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: #575757;
    border-bottom: 8px solid #7DFFAF;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 100;
    min-width: 600px;
}

.app-body {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 58px;
    background-color: #444444;
}

.header-icon {
    float: right;
    height: 40px;
    margin-top: 5px;
    margin-right: 10px;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

.header-text {
    float: right;
    height: 20px;
    margin-top: 15px;
    margin-right: 15px;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

.nav-button {
    background-color: transparent;
    color: #7DFFAF !important;
    border-radius: 12px;
    margin-top: 7px;
    margin-left: 10px;
    font-weight: bold;
    font-size: large;
    transition: .25s;
}

.selected {
    background-color: #7dffaf23;
}