<div class="header">
    <div style="position:relative; height: 100%; width: 100%;">
        <button mat-button class="nav-button" (click)="route('home')">Home</button>
        <button mat-button class="nav-button" (click)="route('experience')">Experience</button>
        <button mat-button class="nav-button" (click)="route('about-me')">About Me</button>
    </div>
</div>

<!-- Structure -->
<!-- home page - big title -->
<!-- personal info - about myself and interests -->
<!-- experience - resume content -->

<!-- include -->
<!-- resume download -->
<!-- photos -->
<!-- paralax -->
<!-- animations -->
<!-- gOofy flare -->
<!-- transitions -->
<!-- popups -->
<!-- color changes -->
<!-- scrolling animations -->

<div class="app-body">
    <router-outlet></router-outlet>
</div>