<div class="home-background">
    <div class="home-grid">
        <div class="top-title">
            <img class="animated zoomInDown home-title top-title-text" src="../assets/s_underscore.png">
        </div>
        <div class="bottom-title">
            <img class="animated zoomInUp home-title bottom-title-text" src="../assets/m.png">
            <div class="sub-header animated fadeIn" style="margin-top: 30px;">Software Engineer | Web Developer | GUI Designer</div>
            <div class="sub-header animated fadeIn">Welcome to my website, designed and built by me!</div>
        </div>
        <div class="left-ornament-container">
            <div class="left-ornament"></div>
        </div>
        <div class="right-ornament-container">
            <div class="right-ornament"></div>
        </div>
        <!-- <div class="blurb">
        </div> -->
    </div>
</div>